<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>gerenciador</display-name>
  <welcome-file-list>
    <welcome-file>bem-vindo.html</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>OiMundoServlet</servlet-name>
    <servlet-class>br.com.alura.gerenciador.servlet.OiMundoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OiMundoServlet</servlet-name>
    <url-pattern>/ola</url-pattern>
  </servlet-mapping>

	<!--
	SE VOCÊ FOSSE UTILIZAR A API DO JAAS - que não é utilizado em aplicações web,
	VOCÊ TERIA QUE IMPLEMENTAR ALGO PARECIDO COM O SEGUINTE:
	 
	<login-config>
		<auth-method>BASIC</auth-method>
	</login-config>

	<security-role>
		<role-name>ADMINISTRADOR</role-name>
	</security-role>

	<security-role>
		<role-name>USUARIO</role-name>
	</security-role>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>acesso controlador</web-resource-name>
			<url-pattern>/entrada</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>ADMINISTRADOR</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>acesso a paginas html</web-resource-name>
			<url-pattern>*.html</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>USUARIO</role-name>
		</auth-constraint>
	</security-constraint>
	
	*******
	PARA FINALIZAR O PERMISSIONAMENTO, VOCÊ DEVERIA INCLUIR NO
	ARQUIVO tomcat-users.xml O SEGUINTE:
	*******
	
	<tomcat-users>
	  <role rolename="ADMINISTRADOR"/>
	  <role rolename="USUARIO"/>
	  <user username="admin" password="123" roles="ADMINISTRADOR, USUARIO"/>
	  <user username="user" password="123" roles="USUARIO"/>
	</tomcat-users>
	
	 -->
  
</web-app>