<!-- Para fazer o bind de alguma propriedade dentro de uma tag, você a envolve em {{ }} -->
<h1>{{ title }} </h1>

<!-- O onTyping é um evento customizado. Ele foi utilizado para você passar propriedades
de um componente filho (app-search) para seu componente pai (photo-list-component) -->
<app-search
    (onTyping)="filter = $event" [value]="filter">
</app-search>

<!-- No entanto, se o bind for em um atributo de uma tag html, você a envolve em []  e ela irá buscar o atributo na sua classe -->
<!-- Transformado em componente
<img class="img-thumbnail" style="height:700px;" [src]=url [alt]=titlepic />
-->

<!-- Modelo sem atributos que podem ser passados dinamicamente -->
<!-- <app-photo></app-photo> -->

<!-- Para passar valores dinamicamente como atributos você deve ter as variáveis dentro do componente criado e explicitar que seus valores podem ser recebidos via atributo da tag/selector do componente criado -->
<!-- Ver as variáveis url e description em photo.component.html -->
<!-- Note que você não está passando os atributos sem o databinding (fora de []) porque não é uma expressão que referencia uma variável da classe ts -->
<!--
<app-photo
    *ngFor="let photo of photos"
    [url]="photo.url" 
    [description]="photo.description">
</app-photo>
-->

<!-- O código acima foi originalmente criado aqui, mas passado para o componente photos -->
<!-- Veja como foi feita a criação do pipe em filter-by-description.pipe.ts -->
<!-- ATENÇÃO: Não se esqueça que um pipe também precisa ser declarado em um modulo. -->
<app-photos [photos]="photos | filterByDescription: filter"></app-photos>

<app-load-button 
    (click)="load()"
    [hasMore]="hasMore">
</app-load-button>
